h1{
	
background-color:pink;
color:red;
text-align:center;}


body {
	  font-family:arial;
      background-color:#FFFAF0;}
	  
ul (background-color: yellow;
    border: solid 5px;
	border-color:blue;
	border-top-style: dotted;
	border-bottom-style; dashed;
	padding-top: 5px}
	
	
	  
